{% extends "predds_tracker/base.html" %}
{% block title %}Warp Bomb Calculator{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Warp Bomb Calculator</h1>
</div>

<form id="warp_calc_form" action="javascript:calculate_values()">
  <div class="form-group">
    <label for="warp_calc_warp_speed_input">Warp speed</label>
    <input type="number" class="form-control" id="warp_calc_warp_speed_input" placeholder="3.0" step="0.01" required>
  </div>
  <div class="form-group">
    <label for="warp_calc_deviation_input">Max deviation</label>
    <input type="number" class="form-control" id="warp_calc_deviation_input" value="5" step="0.001" required>
  </div>
  <div class="form-group">
    <label for="warp_calc_buffer">Time required</label>
    <input type="number" class="form-control" id="warp_calc_buffer" placeholder="~14 for bombing" step="0.1" required>
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Go!</button>
</form>

<hr>

<h2>Result</h2>

<div style="display: none;" id="warp_calc_result">

Start when the fleet shows up on a dscan of <strong><span
id="warp_calc_result_value"></span></strong> km (<strong><span
id="warp_calc_result_value_au"></span></strong> AU). You should round these
values up a little to prevent rouding errors.

</div>

<hr>

<h2>Input parameters</h2>

The warp speed input should be set to the warp speed of the slowest ship in the
warp bubble. For interceptors this value is 8.0, for frigates it is 5.0, for
destoyers use 4.5, cruisers warp at 3.0, battlecruisers travel at 2.7 and
battleships go 2.0 AU per second. Exceptions to these rules obviously exist and
should be considered on a case-by-case basis. The deviation is the distance of
the ships from their landing spot when the event happens. This should be as
short as possible but not too short. A value of 5 kilometers is generally fine.
The time required is dependent on what you want to do. For bombing, a good
estimate is 15 seconds: 1 second for the scanner to communicate over comms, 1
second to decloak, 1 second to launch the bomb and then 12 seconds for the bomb
to travel.

<hr>

<h2>How it works</h2>

The velocity of a ship decelerating from warp in EVE is determined using the
warp speed $k$, the time already spent in deceleration $t$ and a variable $j =
-\min(2, \frac{k}{3})$ as follows:

$$v(t) = k\cdot e^{jt}$$

We find the indefinite integral of this velocity:

$$V(t) = \int k\cdot e^{jt} \text{d}t = \frac{k\cdot e^{jt}}{j}$$

An equation for the distance left in warp is then found as:

$$D(t) = V(\infty) - V(t) = \frac{-k\cdot e^{jt}}{j}$$

To understand when the ship drops out of warp, we need to have a deviation
threshold $d$ such that we consider a ship to be out of warp when it is less
than $d$ from its destination. We can then find the time spent decelerating with
the equation $D(t') = d$:

$$D(t') = d \iff \frac{-k\cdot e^{jt'}}{j} = d \iff t' = \frac{\ln\frac{d\cdot j}{-k}}{j}$$

From this point, we want to have a buffer of a certain length of time $b$. If
you're bombing, for example, you would want a buffer of 12 seconds since bombs
travel that far, plus maybe a few seconds to decloak and press the button. What
we want to know is how far the enemy is away at that point in time. Remember
that this point in time is $t' - b$, so we can calculate the distance at that
point as $D(t' - b)$. When the enemies show up on a D-scan of this range, they
will drop out of warp $b$ seconds later which is what we were after.

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML-full"></script>
<script>
var AU_TO_KM = 149597870.700;

function distance_left(k, j, t) {
    return AU_TO_KM * (k / j) * Math.exp(-j * t);
}

function calculate_values() {
    var v = parseFloat(document.forms["warp_calc_form"]["warp_calc_warp_speed_input"].value);
    var d = parseFloat(document.forms["warp_calc_form"]["warp_calc_deviation_input"].value);
    var t = parseFloat(document.forms["warp_calc_form"]["warp_calc_buffer"].value);

    var j = Math.min(v / 3.0, 2.0);

    var t_decel = Math.log((j * d) / (v * AU_TO_KM)) / -j;

    var b = t_decel - t;
    console.log(b);

    var z = Math.round(distance_left(v, j, Math.max(0.0, b)) + (b < 0 ? -b * v * AU_TO_KM : 0));

    $('#warp_calc_result').show();
    $('#warp_calc_result_value').text(z.toLocaleString());
    $('#warp_calc_result_value_au').text((z / AU_TO_KM).toLocaleString());
}
</script>
{% endblock %}
