{% extends "predds_tracker/base.html" %}
{% block title %}Warp Bomb Calculator{% endblock %}
{% block content %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div class="page-header">
    <h1>Warp Bomb Calculator</h1>
</div>

<form class="form-horizontal" id="warp_calc_form" action="javascript:calculate_values()">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="warp_calc_warp_speed_input">Warp speed</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="warp_calc_warp_speed_input" placeholder="3.0" step="0.01" required>
    </div>

    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <button type="button" class="btn btn-secondary btn-sm" onclick="set_warp_speed(5.0);">Frigate</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="set_warp_speed(4.5);">Destroyer</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="set_warp_speed(3.0);">Cruiser</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="set_warp_speed(2.7);">Battlecruiser</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="set_warp_speed(2.0);">Battleship</button>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="warp_calc_deviation_input">Max deviation</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="warp_calc_deviation_input" value="5" step="0.001" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="warp_calc_buffer">Time required</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="warp_calc_buffer" placeholder="~14 for bombing" step="0.1" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="warp_calc_distance">Target distance</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" placeholder="Optional" id="warp_calc_distance" step="0.1" disabled>
    </div>
    <input class="col-sm-1" data-toggle="toggle" data-on="AU" data-off="km" type="checkbox" id="warp_calc_use_au">
  </div>

  <button type="submit" class="btn btn-primary btn-lg btn-block">Go!</button>
</form>

<hr>

<h2>Result</h2>

<div style="display: none;" id="warp_calc_result">

Start when the fleet shows up on a dscan of <strong><span
id="warp_calc_result_value"></span></strong> km (<strong><span
id="warp_calc_result_value_au"></span></strong> AU). You should round these
values up a little to prevent rouding errors. <span
id="warp_calc_result_min_distance_container">This is valid only if the total
warp distance is at least <strong><span
id="warp_calc_result_min_distance"></span></strong> AU.</span>

</div>

<hr>

<h2>Input parameters</h2>

The warp speed input should be set to the warp speed of the slowest ship in the
warp bubble. For interceptors this value is 8.0, for frigates it is 5.0, for
destoyers use 4.5, cruisers warp at 3.0, battlecruisers travel at 2.7 and
battleships go 2.0 AU per second. Exceptions to these rules obviously exist and
should be considered on a case-by-case basis. The deviation is the distance of
the ships from their landing spot when the event happens. This should be as
short as possible but not too short. A value of 5 kilometers is generally fine.
The time required is dependent on what you want to do. For bombing, a good
estimate is 15 seconds: 1 second for the scanner to communicate over comms, 1
second to decloak, 1 second to launch the bomb and then 12 seconds for the bomb
to travel.

<hr>

<h2>How it works</h2>

The velocity of a ship decelerating from warp in EVE is determined using the
warp speed $k$, the time already spent in deceleration $t$ and a variable $j =
-\min(2, \frac{k}{3})$ as follows:

$$v(t) = k\cdot e^{jt}$$

We find the indefinite integral of this velocity:

$$V(t) = \int k\cdot e^{jt} \text{d}t = \frac{k\cdot e^{jt}}{j}$$

An equation for the distance left in warp is then found as:

$$D(t) = V(\infty) - V(t) = \frac{-k\cdot e^{jt}}{j}$$

To understand when the ship drops out of warp, we need to have a deviation
threshold $d$ such that we consider a ship to be out of warp when it is less
than $d$ from its destination. We can then find the time spent decelerating with
the equation $D(t') = d$:

$$D(t') = d \iff \frac{-k\cdot e^{jt'}}{j} = d \iff t' = \frac{\ln\frac{d\cdot j}{-k}}{j}$$

From this point, we want to have a buffer of a certain length of time $b$. If
you're bombing, for example, you would want a buffer of 12 seconds since bombs
travel that far, plus maybe a few seconds to decloak and press the button. What
we want to know is how far the enemy is away at that point in time. Remember
that this point in time is $t' - b$, so we can calculate the distance at that
point as $D(t' - b)$. When the enemies show up on a D-scan of this range, they
will drop out of warp $b$ seconds later which is what we were after.

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML-full"></script>
<script>
var AU_TO_KM = 149597870.700;

function distance_left(k, j, t) {
    return AU_TO_KM * (k / j) * Math.exp(-j * t);
}

function set_warp_speed(au) {
    document.forms["warp_calc_form"]["warp_calc_warp_speed_input"].value = au;
}

function calculate_values() {
    var v_raw = parseFloat(document.forms["warp_calc_form"]["warp_calc_warp_speed_input"].value);
    var d = parseFloat(document.forms["warp_calc_form"]["warp_calc_deviation_input"].value);
    var t = parseFloat(document.forms["warp_calc_form"]["warp_calc_buffer"].value);

    var j = Math.min(v_raw / 3.0, 2.0);

    var d_raw = document.forms["warp_calc_form"]["warp_calc_distance"].value;

    var v;

    if (d_raw.length == 0) {
        $('#warp_calc_result_min_distance_container').show();
        v = v_raw;
    } else {
        $('#warp_calc_result_min_distance_container').hide();
        d_raw = parseFloat(d_raw) / (document.forms["warp_calc_form"]["warp_calc_use_au"].checked ? 1 : AU_TO_KM)
        v = Math.min((d_raw * j * v_raw) / (v_raw + j), v_raw);
    }

    console.log(v);

    var t_decel = Math.log((j * d) / (v * AU_TO_KM)) / -j;

    if (v < v_raw) {
    } else {

        var b = t_decel - t;
        console.log(b);

        var z = distance_left(v, j, Math.max(0.0, b));
        z += b < 0 ? -b * v * AU_TO_KM : 0;
    }

    $('#warp_calc_result').show();
    $('#warp_calc_result_value').text(Math.round(z).toLocaleString());
    $('#warp_calc_result_value_au').text((Math.round(z) / AU_TO_KM).toLocaleString());
    $('#warp_calc_result_min_distance').text((v / j + 1).toLocaleString());
}
</script>
{% endblock %}
