{% extends "predds_tracker/base.html" %}
{% block title %}Help{% endblock %}
{% block content %}

<div class="page-header">
  <h1> Help </h1>
</div>

<h3>Adding an Alt</h3>
<p>
Click the button in the top right named <b>Log In</b>. Log in with your main. After that there will be a button in the top right next to your picture called <b>Add Alt</b>. Click on that, cancel out of your main log in, and log in to your alt. After you log in, you need to wait up to 5 minutes for it to be tracked and will show on the map. It should immediately be shown under your profile as an alt for your. 
</p>

<h3>Removing Your Alt</h3>
Log into <a href="https://community.eveonline.com/support/third-party-applications/">this page</a>. Look for the predds application, and delete application. You will need to do this for all of your accounts that you're trying to remove. 
<p></p>

<h3>Stop Tracking Alt</h3>
Click your main accounts image in the top right. After clicking you should see a table with your alt accounts listed. Under the check column you can toggle whether you want that alt to be tracked or not. After you are done with your selections, hit the submit button and you should see your changes updated on the page. After the next update cycle the charachters chosen should no longer be tracked. 
<p></p>

<h3>Delete Account</h3>
Click your main accounts image in the top right. Near the bottom of the page there will be a Delete Account Section that contains a checkbox and submit button. Select the delete button and click the submit button. <b>NOTE: This will delete your account and all associated alts</b>
<p></p>

<h3>Suggestions</h3>
Contact Sharad Heft in-game for more suggestions, or send him an eve mail.
<p></p>

{% endblock %}
