{% extends "predds_tracker/base.html" %}
{% block title %}Help{% endblock %}
{% block content %}

<div class="page-header">
  <h1> Help </h1>
</div>

<h3>Adding an Alt</h3>
<p>
Click the button in the top right named <b>Log In</b>. Log in with your cloaky camper alt <b>ONLY</b>. Do not log in with your main/super. The map will update during the next 5 minute increment. If you have multiple alts, please log in with all of them. 
</p>

<h3>Removing Your Alt</h3>
Log into <a href="">This Page</a>. Look for the predds application, and delete application. You will need to do this for all of your accounts that you're trying to remove. 
<p></p>

<h3>Suggestions</h3>
Contact Sharad Heft in-game for more suggestions, or send him an eve mail.
<p></p>

{% endblock %}

