{% extends "predds_tracker/base.html" %}
{% block title %}Log{% endblock %}
{% block content %}
<div class="page-header">
  <h1>Your last 200 records</h1>
</div>

<table class="table table-striped">
<thead>
<tr>
  <th>Time</th>
  <th>Character</th>
  <th>Online</th>
  <th>System</th>
  <th>Ship ID</th>
  <th>Ship type</th>
  <th>Ship name</th>
</tr>
</thead>
<tbody>
{% for x in items %}
<tr>
  <td>{{ x.time }}</td>
  <td>{{ x.character.name }}</td>
  <td>{{ x.online }}</td>
  <td>{{ x.system.name }}</td>
  <td>{{ x.ship_id }}</td>
  <td>{{ x.ship_type }}</td>
  <td>{{ x.ship_name }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
