{% extends "predds_tracker/base.html" %}
{% block title %}Map{% endblock %}
{% block content %}
{% load map_colour %}
{% load region_path %}

<div class="page-header">
  <h1>{{ region.name }}</h1>
</div>

{% if user.map_auto_update %}
  <meta http-equiv="refresh" content="300"/>
{% endif %}

<p>{{ coverage|floatformat }}% coverage &ndash; <a href="http://evemaps.dotlan.net/map/{{ region | region_path }}/{% if dotlan %}{{ dotlan }}/{% endif%}">View on Dotlan</a></p>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1024" height="768">
<style type="text/css">
<![CDATA[
/* jumps */
.j	{ stroke: #000000; stroke-width: 1; }
.jc	{ stroke: #FF0000; stroke-width: 1; }
.jr	{ stroke: #800080; stroke-width: 1; }
.jx	{ stroke: #000000; stroke-width: 3; }
.jxc	{ stroke: #FF0000; stroke-width: 3; }
.jxr	{ stroke: #800080; stroke-width: 3; }
.jb	{ stroke: #0000FF; stroke-width: 3; fill: none; }

/* external system */
.eh	{ stroke: #00B000; stroke-width: 1; fill: #CCCCCC; }
.el	{ stroke: #F00000; stroke-width: 1; stroke-dasharray: 8, 4; fill: #CCCCCC; }
.e	{ stroke: #000000; stroke-width: 1; fill: #CCCCCC; }
.exh	{ stroke: #00B000; stroke-width: 2; fill: #CCCCCC; }
.exl	{ stroke: #F00000; stroke-width: 2; stroke-dasharray: 8, 3; fill: #CCCCCC; }
.ex	{ stroke: #000000; stroke-width: 2; fill: #CCCCCC; }

/* external system text */
.es	{ font-size: 9px; font-family: Arial, Helvetica, sans-serif; fill: #000000; }
.er	{ font-weight: bold; font-size: 7px; font-family: verdana, Arial, sans-serif; fill: #000000; }

/* system */
.s	{ fill: #ffffff; stroke: #000000; stroke-width: 1; }
.camped	{ stroke-width: 3; }

.scl	{ stroke: transparent; stroke-width: 2; fill: transparent; }

/* system text */
.ss	{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; fill: #000000; }
.exclam	{ font-family: Arial, Helvetica, sans-serif; font-size: 23px; font-weight: bold; }
.st	{ font-weight: bold; font-size: 7px; font-family: verdana, Arial, sans-serif; fill: #000000; }
.so	{ fill: #ff0000; }
.i	{ stroke: #0080FF; stroke-width: 1; fill: none; }
]]>
</style>

<g id="map">
{% block map %}{% endblock %}
</g>
</svg>

<div class="container">
<h1>Key</h1>

<p>Systems that are marked as important are shown with a little exclamation mark
(&#x26A0;) next to them. The number of NPC kills in a system is indicated with
the following color scale:</p>

<div class="row">
  <div class="col-sm-1" style="background-color:{{ 0 | npc_kill_colour }}">&nbsp;</div>
  <div class="col-sm-1" style="background-color:{{ 200 | npc_kill_colour }}">&nbsp;</div>
  <div class="col-sm-1" style="background-color:{{ 400 | npc_kill_colour }}">&nbsp;</div>
  <div class="col-sm-1" style="background-color:{{ 600 | npc_kill_colour }}">&nbsp;</div>
  <div class="col-sm-1" style="background-color:{{ 800 | npc_kill_colour }}">&nbsp;</div>
  <div class="col-sm-1" style="background-color:{{ 1000 | npc_kill_colour }}">&nbsp;</div>
</div>

<div class="row">
  <div class="col-sm-1" > 0 </div>
  <div class="col-sm-1" > 5 - 200 </div>
  <div class="col-sm-1" > 201 - 400 </div>
  <div class="col-sm-1" > 401 - 600</div>
  <div class="col-sm-1" > 601 - 800 </div>
  <div class="col-sm-1" > > 1000</div>
</div>

</div>
</br>
</br>

{% endblock %}
