{% extends "predds_tracker/base.html" %}
{% block title %}Map{% endblock %}
{% block content %}

<div class="page-header">
  <h1>{{ region.name }}</h1>
</div>

<p><a href="http://evemaps.dotlan.net/map/{{ region.name }}/{{ dotlan }}/">View on Dotlan</a></p>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1024" height="768">
<style type="text/css">
<![CDATA[
/* jumps */
.j	{ stroke: #000000; stroke-width: 1; }
.jc	{ stroke: #FF0000; stroke-width: 1; }
.jr	{ stroke: #800080; stroke-width: 1; }
.jx	{ stroke: #000000; stroke-width: 3; }
.jxc	{ stroke: #FF0000; stroke-width: 3; }
.jxr	{ stroke: #800080; stroke-width: 3; }
.jb	{ stroke: #0000FF; stroke-width: 3; fill: none; }

/* external system */
.eh	{ stroke: #00B000; stroke-width: 1; fill: #CCCCCC; }
.el	{ stroke: #F00000; stroke-width: 1; stroke-dasharray: 8, 4; fill: #CCCCCC; }
.e	{ stroke: #000000; stroke-width: 1; fill: #CCCCCC; }
.exh	{ stroke: #00B000; stroke-width: 2; fill: #CCCCCC; }
.exl	{ stroke: #F00000; stroke-width: 2; stroke-dasharray: 8, 3; fill: #CCCCCC; }
.ex	{ stroke: #000000; stroke-width: 2; fill: #CCCCCC; }

/* external system text */
.es	{ font-size: 9px; font-family: Arial, Helvetica, sans-serif; fill: #000000; }
.er	{ font-weight: bold; font-size: 7px; font-family: verdana, Arial, sans-serif; fill: #000000; }

/* system */
.s	{ fill: #ffffff; stroke: #000000; stroke-width: 1; }
.camped	{ stroke-width: 3; }

.scl	{ stroke: transparent; stroke-width: 2; fill: transparent; }

/* system text */
.ss	{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; fill: #000000; }
.exclam	{ font-family: Arial, Helvetica, sans-serif; font-size: 23px; font-weight: bold; }
.st	{ font-weight: bold; font-size: 7px; font-family: verdana, Arial, sans-serif; fill: #000000; }
.so	{ fill: #ff0000; }
.i	{ stroke: #0080FF; stroke-width: 1; fill: none; }
]]>
</style>

<g id="map">
{% block map %}{% endblock %}
</g>
</svg>

{% endblock %}
