{% extends "predds_tracker/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<br />
<h2>Main Account Info</h2>
<br />
<div class="container">
    <div class="row">
      <div class="media">
        <div class="media-left">
          <img src="https://image.eveonline.com/Character/{{ user.id }}_128.jpg">
        </div>
        <div class="media-body">
           <dl>
              <dt>Name</dt><dd>{{ user.name }}</dd>
              <dt>Corporation</dt><dd>{{ user.corporation_id }}</dd>
              <dt>Alliance</dt><dd>{{ user.alliance_id }}</dd>
           </dl> 
        </div>
      </div>
    </div>
</div>

<br />
<h2>Profile Options</h2>
<b>This will also delete all your alts!</b>

<form action="{% url 'update_profile' %}" method="POST">
    {% csrf_token %}
    {{ profile_form.as_p }}
    <input type="submit" value="Submit" />
</form>


<br />
<h2>Associated Alts</h2>
<p>Uncheck the checkboxes to stop tracking of certain alts.</p>
<form method="POST">
    {% csrf_token %}
    {{ altform.management_form }}

    {% if altform|length > 0 %}
      <table class ="table table-hover">
        <thead>
          <tr>
            <th> Alt Name </th>
            <th> Track? </th>
          </tr>
         </thead>
        <tbody>
      {% for form in altform %}
        {{ form.id }}
        <tr>
          <th> {{ form.instance.name }} </th>
          <th> {{ form.track }} </th>
        </tr>
      {% endfor %}
        </tbody>
      </table>
        <input type="submit" value="Submit" />
    {% else %}
      You don't have any! Blue Ice is disappointed!
    {% endif %}
</form>


<h2>Delete Account</h2>
<b>This will also delete all your alts!</b>

<form action="{% url 'delete_account' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
