{% extends "predds_tracker/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="page-header">
  <h1>{{ user.get_full_name }}</h1>
</div>

<h2>Public information</h2>
<dl>
  <dt>Corporation</dt><dd>{{ user.corporation_id }}</dd>
  <dt>Alliance</dt><dd>{{ user.alliance_id }}</dd>
</dl>

<h2>Your alts</h2>
<ul>
{% for a in user.alts.all %}
<li>{{ a.name }}</li>
{% empty %}
<li>You don't have any! Blue Ice is disappointed!</li>
{% endfor %}
</ul>

<h2>Delete account</h2>
This will also delete all your alts!

<form action="{% url 'delete_account' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
